.from__label-one{
  margin-bottom:5px;
  margin-top: 2px;
  height: 23px;
  width: 178px;
  color: #212121;
  font-family: "Almoni DL AAA",serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: -0.19px;
  line-height: 23px;
  text-align: right;
}


.form__input {
  transition: 0.4s;
  padding-right: 10px;
  /*margin: 30px 10px 50px;*/
  box-sizing: border-box;
  align-content: space-between;
  height: 40px;
  width: 356px;
  border: 1px solid #ECECEF;
  border-radius: 7px;
  background-color: #dfdfdf;
}

.form__input:focus, .form__textarea:focus{
  transition: 0.4s;
  outline: none;
  background: #e8f0fe;
}

.inputs__container {
  display: flex;
  flex-direction: column;
}

.form__textarea {
  transition: 0.4s;
  margin: 25px 5px 0 0;
  padding: 15px 15px 0 0;
  width: 350px;
  height: 7em;
  outline: none;
  border: solid 1px #dfdfdf;
  border-radius: 7px;
  resize: none;
}
